@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  /* font-weight: inherit; */
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #333;
  line-height: 1;
}



/* 모바일 */
.mobile {
  display: none;
}

/* header */
header {
  height: 100px;
  position: relative;
  z-index: 99;
}

header div {
  max-width: 1280px;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div .pc_gnb>ul {
  line-height: 100px;
}

header div .pc_gnb>ul>li {
  display: inline-block;
  vertical-align: top;
  /* display:inline; or display:inline-block; 일때 사용가능 */
  position: relative;
  text-align: center;
}

header div .pc_gnb>ul>li>a {
  padding: 0 30px;
  font-size: 17px;
}

header div .pc_gnb .sub_menu {
  width: 100%;
  line-height: 3;
  background-color: rgb(237, 230, 253);
  position: absolute;
  top: 100px;
  left: 0;
}

/* .main_visual */
.main_visual {
  height: calc(100vh - 100px);
  position: relative;
}

.main_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_visual div {
  max-width: 1280px;
  width: 95%;
  position: absolute;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.main_visual div h2 {
  font-size: 40px;
  line-height: 1.3;
}

.main_visual div p {
  font-size: 22px;
  margin: 10px 0 30px;
}

.main_visual div a {
  display: inline-block;
  background-color: #5e2bb8;
  padding: 15px 40px;
  /* border-radius: 10px; */
  /* border: 1px solid #fff; */
}

/* cont01 */
.cont01 {
  max-width: 1280px;
  width: 95%;
  margin: 100px auto;
}



.cont01 .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cont01 .list div {
  width: calc(100% / 6);
  text-align: center;
}

.cont01 .list div figure {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.cont01 .list div figure img {
  /* vw: 브라우저 너비에 반응
    vh: 브라우저 높이에 반응 */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cont01 .list div p {
  margin-top: 20px;
}

h3 {
  margin-bottom: 40px;
  font-size: 30px;
  letter-spacing: -2px;
}

/* cont02 */
.cont02 {
  background-color: rgba(237, 230, 253, 0.5);
  padding: 100px 0;

}

.cont02>div {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

.cont02 div .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cont02 div .list .item {
  width: calc(100% / 4 - 10px);
}

.cont02 div .list .item figure {
  width: 100%;
  height: 210px;
  position: relative;
}

.cont02 div .list .item figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cont02 div .list .item figure p {
  background-color: #5e2bb8;
  color: #fff;
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
}

.cont02 div .list .item div {
  background-color: #fff;
  padding: 30px 20px;
}

.cont02 div .list .item div strong {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -1px;
}

/* .cont02 div .list .item div p:nth-of-type(1) {
  font-size: 14px;
} */

.cont02 div .list .item div p:first-of-type {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.3;
  margin: 10px 0 20px;
}

.cont02 div .list .item div p:nth-of-type(2) {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  /* color: #5e2bb8; */
}

/* **********반응형 시작 **********/

@media screen and (max-width:1024px) {

  /* 1. 네비게이션 삭제 */
  header div .pc_gnb {
    display: none;
  }

  /* 2. 모바일 영역 나타냄 */
  .mobile {
    display: block;
  }

  /* 3. 햄버거 아이콘 안에 있는 span 날려버리기 */
  .xi-bars span {
    position: absolute;
    left: -99999999999px;
  }

  /* 4. 햄버거 아이콘 크기 25px */
  .xi-bars {
    font-size: 25px;
    font-weight: bold;
  }

  .cont01 .list div figure {
    width: 15vw;
    height: 15vw;
  }

  /* 아이템의 가로값 변경(2등분 2줄,아이템 사이 간격 5px */
  .cont02 div .list .item {
    width: calc(100% / 2 - 5px);
    margin-bottom: 20px;
  }

  /* 1024px */
}

@media screen and (max-width:767px) {
  h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  /* header */
  header {
    height: 70px;
  }

  /* .main_visual */
  .main_visual::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .main_visual div {
    bottom: 30%;
  }

  .main_visual div h2 {
    font-size: 30px;
  }

  .main_visual div p {
    font-size: 18px;
  }

  /* .cont01 */
  .cont01 {
    margin: 70px auto;
  }

  /* .cont02 */
  .cont02 {
    padding: 70px 0;
  }

  /* 767px */
}